body{
    background-color: rgb(43, 43, 43) !important;
}

.headerImg {
  /* Create the parallax scrolling effect */
 /*  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; */
  width: auto;
}
.headerRow{
    width: auto;
}

.nav{
    width: 100%;
    align-items: center;
    margin: auto;
}

.nav-item{
    margin: 0.5rem;
    background-color:rgb(0, 53, 109);
}
.nav-link{
    color: white !important;
    list-style: none;
    text-emphasis: none;
    text-decoration: none;
}
.nav-link.active{
    color: rgb(255, 255, 255) !important;
    border:1px solid white !important;
}

.header {
  background-color: rgb(0, 36, 84);
}
.header-left {
    background:linear-gradient(to left, rgb(0, 36, 84), rgb(43, 43, 43));
}
.header-right {
    background:linear-gradient(to right, rgb(0, 36, 84), rgb(43, 43, 43));
}

div#wrapper {  
  width: 100%; 
  color: white !important;
}



div#content {
  background-color: rgb(43, 43, 43);
  color: white;
}
  

div#content img {
  float: right;
  width: 20em;
  height: auto;
  margin: 0 0 15px 15px;
  padding: 3px;
  border: 3px solid blue;
}

footer {
  border-radius: 10px;
  margin: 10px;
  padding: 5px 20px;
  background-color: rgb(0, 53, 109);
  color: rgb(189, 189, 189);
}
