body {
  margin: 0;
  padding: 0;

  /* make it look decent enough */
  background: #232323;
  color: #cdcdcd;
  font-family: "Avenir Next", "Avenir", sans-serif;
}

.dropdown-menu{
    width: 40%;
    overflow: hidden;
}


.navbar {
  background-color: #232323;
  border-radius: 0px 0px 5px 5px;
  box-shadow: 0px 0px 8px -2px;
}

.dropdown-menu
{
    background-color: #464646 !important;
    border: rgb(0, 141, 111) 1px solid;
}

.dropdown-menu a{
    color: rgb(163, 163, 163);
}


@media screen and (max-width: 1200px) {
}
@media screen and (max-width: 600px) {

}

@media screen and (max-width: 600px) {
  }
}
